@media (max-width: 767px) {
    .card {
        flex-wrap: wrap;
    }

    .card>div {
        margin-bottom: 20px;
        width: 100%;
    }

    .card>div>img {
        width: 100%;
    }

    .overlay>div {
        margin: auto;
    }

    .overlay>div>p {
        font-size: 30px;
    }
}

@media (max-width: 420px) {
    header {
        display: flex;
        justify-content: center;
    }

    .overlay>div>p {
        font-size: 22px;
    }

    .overlay>div>h1 {
        font-size: 60px;
    }

    .overlay>div {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .about img {
        width: 35%;
    }

    .about h3 {
        margin-top: 36%;
    }

    .card>div li {
        line-height: 135%;
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    .navbar a {
        font-size: 100%;
    }

    .overlay>div>h1 {
        text-align: center;
        font-size: 45px;
    }

    .navbar>img {
        margin-right: 5px;
    }

    .navbar>div {
        margin: 0 10px;
    }

    .about {
        flex-wrap: wrap;
        font-size: 15px;
    }

    .text1 {
        padding: 10px;
        border-bottom: 1px outset;
        margin-bottom: 20px;
    }

    .about h3 {
        margin-top: 10px;
    }
}
